@import "@/sass/color";
.box-container{
    background-color: rgb(250, 199, 199);
    position: relative;
    margin-top:150px ;
    margin-left: 135px;
    padding:20px 20px 20px 40px;
    min-width: 400px;
    max-width: 540px;
    min-height: 30vh;
    // background-color:$myGrey;
    border-radius: 18px;
    .ant-form-item{
        margin-bottom: 16px;
    }
    .tab-register{
        width: 500px;
    }
    label{
        // font-size: 1.4rem !important;
        font-weight: 400;
    }
}

  .login{
      width: 100%;
  }
  .register{
      width: 100%;
      
  }

