.about-us{
    width:50vw;
    padding: 0 50px;
    border-radius: 30px;
    // background-color: #ffffff;
        img{
            // width: 60%;
            width: 290px;
            height: 290px;
        }
    .text{
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .aboutUs_pic{
        
        top: 5px;
        left: 5px;
        width: 15vw;
        height:15vw;
        // height: 500px;
        // height: 500px;
        background-image: url('@/assest/sanxiangBank.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}