.inline-checkbox{
    display: flex;
    flex-direction: row;
    .sameLine{
        // min-width: 140px;
        .ant-form-item-label{
            min-width: 50px;
        }
    }
}
.box-container #register {
    .ant-form-item-label{
        // display: inline-block;
        overflow: visible;
        width: 100%;
    }
    .ant-form-item-control{
        display: inline-block;
        
    }
}
#register{
    // text-align: center;
}

