

.userinfo_box{
    display: flex;
    width: 70vw;
    margin:0 auto;
}
.sider_container .ant-avatar{
    width: 12vw !important;
    height: 12vw !important;
    min-width: 90px;
    min-height: 90px;
}
.sider_container .user_sider{
    max-width: 300px;
    min-width: 100px;
}
.sider_container{
    // flex:1;
    width: 17vw;
    // margin-left:15vw;
    // margin-right: 66px;

}
@media screen and (min-width: 768px){
    .userinfo_box{
        margin:0 15px ;
        
    }
}
@media screen and (min-width: 992px){
    .userinfo_box{
        margin:0 auto ;
    }
}
@media screen and (max-width: 768px){
    .userinfo_box{
        margin:0 5px ;
        .sider_container .user_sider{
            width:60px;
        }
    }
    .show_box .edit .ant-form-item{
        margin-bottom: 2px;
    }
}