@import "styles/colors.scss";

.goods-purchase-info {
  display: flex;
  flex-direction: row;
  min-width: 1000px;
  .goods-img {
    text-align: center;
    min-width: 40%;
    max-width: 50%;
  }
  .goods-buy {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    .goods-price-number {
      font-size: 50px;
      font-weight: 700;
      color: $primary-red;

      margin: 0;
    }
    .goods-name {
      font-size: 25px;
      font-weight: 500;

      margin: 0;
    }
    .goods-amount {
      margin-top: 10px;

      display: flex;
      flex-direction: column;
      p {
        font-size: large;
        font-weight: 500;

        margin: 20px 0;
      }
    }
    .goods-time-title {
        margin: 30px 0 0 0;
        font-size: 25px;
    }
    .goods-time{
        margin: 10px 0 10px 0;
        font-size: 50px;
    }
  }
}
