.goods-introduction{
    flex: 1;
    min-width: 800px;
    max-width: 70vw;
    .introduction-card{
        min-height: 50vh;
        cursor:auto;
        p{
            white-space:pre-line;
            font-size: larger;
        }
    }
}