.comfirm-goods-purchase {
  background-color: white;
  margin: 100px 0;
  padding: 50px;
  min-width: 800px;
  max-width: 70vw;
  .title {
    font-size: large;
    font-weight: 600;
  }
  .main {
    display: flex;
    flex-direction: column;
    .list-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p:last-child {
        color: rgb(255, 58, 58);
        font-weight: 700;
      }
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p:first-child{
            font-size: large;
        }
    }
  }
  .confirm-btn{
    margin-top: 10px;
    float: right;
    display: flex;
    button{
        margin-left: 10px;
    }
  }
}
