.goods-page{
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items:center;
    .goods-purchase{
        max-width: 80vw;
    }
    .goods-details{
        margin: 100px 0;
        min-width: 70vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}