.goods-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .goods-list-block {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 10px 10px 0 0;
        border: 2px solid gray;
        p {
          margin: 0;
          font-size: larger;
        }
      }
}