.login-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://pic.imgdb.cn/item/6241c2e427f86abb2a38d3a5.jpg') no-repeat no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    .login-block{
        min-width: 500px;
        max-width: 500px;
        min-height: 300px;
        border: 1px solid gray;
       
        margin-left: -50vw;
        margin-top: -30vh;

        label{
            font-size: larger;
        }

        background-color: rgba(255, 255, 255, 0.9);
    }
}

