.show_box{
  width: 45vw;
  min-width: 315px;
}     

.show_box .edit{
    // text-align: left;
    // padding-right: 200px;
    max-width: 45vw;
    // text-align: center;
    // min-width:371px;
}
@media screen and (max-width: 768px){
    .show_box .edit .ant-form-item{
        margin-bottom: 2px;
    }
    .show_box{
        margin-left: 40px;
    }
}
@media screen and (min-width: 768px){
    .show_box{
        margin-left: 66px;
        .edit .ant-form-item{
            margin-bottom: 24px;
            // width: 540px;
        }
    }

}
.show_box .edit .register{
    // max-width: 300px;
    width:17vw;
    // min-width: 90px;
    // margin-left: 2vw;
    margin: 20px auto;
    // text-align: center;
}
