#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.router-inner {
  padding-top: 60px;
  flex: 1;
  padding-bottom: 50px;
  background-color: rgb(230, 230, 230);
}

.fixed-bar {
  position: fixed;
  right: 10px;
  top: 60vh;
}
