#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.router-inner {
  padding-top: 50px;
  flex: 1;
  background-image: linear-gradient(to top,rgba(253,253,253,0.3) 0%,rgba(193,218,255,0.3) 100%);
}

.fixed-bar {
  position: fixed;
  right: 10px;
  top: 60vh;
}
